@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&display=swap');


body {
  margin: 0;
  padding: 0;
  /* font-family: 'Overpass', sans-serif; */
  font-family: 'Domine', serif;
  background-color: black;
  color: white;
  /* position: fixed; */
}
