.transition {
  position: relative;
  height: 100vh;
  display: block;
  animation: 2s ease-out 0s 1 slideInFromLeft;
  z-index: 999;
}


@keyframes slideInFromLeft {
  0% {
    transform: translateX(100vh);
    background-color: red;
  }
  100% {
    transform: translateX(-100%);
    background-color: red;
  }
}
