.m-social-container {
  background: transparent;
  padding: 20px 0px 0px 0px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.m-social {
  margin: 10px 15px;
  transition: transform 250ms;
  display: inline-block;
}

a.m-social:hover {
  transform: translateY(-2px);
}

a.m-linkedin {
  color: white;
  font-size: 30px;
}

a.m-facebook {
  color: white;
  font-size: 30px;
}

a.m-twitter {
  color: white;
  font-size: 30px;
}


a.m-instagram {
  color: white;
  font-size: 30px;
}

a.m-github {
  color: white;
  font-size: 30px;
}

/* @media (max-width: 1000px) {
  a.linkedin,
  a.facebook,
  a.twitter,
  a.instagram,
  a.github {

    font-size: 15px;
  }

  a.social {
    margin: 10px 2px;
  }

} */