.dropdown-menu {
  background:transparent;
  position: absolute;
  top: 30px;
  list-style: none;
  z-index: 999;
}

.dropdown-menu li {
  /* background: #a7c0c0; */
  /* cursor: pointer; */
  margin-left: -40px;
  padding:0px;
}