.dropdown-menu {
  background:transparent;
  position: absolute;
  top: 30px;
  list-style: none;
  z-index: 999;
}

.dropdown-menu li {
  /* background: #a7c0c0; */
  /* cursor: pointer; */
  margin-left: 0px;
  padding:0px;
}

@media screen and (max-width: 768px) {
  .dropdown-menu {
    padding-left: 0px;
  }
  .dropdown-menu li {
    margin-left: -110px;
  }
}